bin/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/.packages
/vendor/bundle
/log/*
/config/database.yml
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
pkg
*.swp
*.swo
.DS_Store
